.welcome{
color: blue;
font-weight: 900;
font-family: 'Courier New', Courier, monospace;
font-size: large;
margin-top: 50px;
word-spacing: 20px;
}
.p{
  color: blue;
  font-weight: 900;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  word-spacing: 20px;
  
  }